<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>
    {% block title %}
        KAMP Membership Portal
    {% endblock %}
    </title>
    <link href="http://patchcreate.com/kamp/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="http://patchcreate.com/kamp/components/com_sppagebuilder/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="http://patchcreate.com/kamp/components/com_sppagebuilder/assets/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="http://patchcreate.com/kamp/components/com_sppagebuilder/assets/css/sppagebuilder.css" type="text/css">
    <link rel="stylesheet" href="http://patchcreate.com/kamp/media/modals/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ asset('loko/css/custom.css') }}" type="text/css"/>

    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=latin,latin-ext"
          type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Mono:regular&amp;subset=latin-ext"
          type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ asset('kamp/css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('loko/css/icons/icomoon/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/simple-line-icons.css" type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/material-design-iconic-font.min.css" type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/legacy.css" type="text/css">
    <link rel="stylesheet" href="{{ asset('kamp/css/template.css') }}" type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/presets/preset3.css" type="text/css" class="preset">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/custom.css" type="text/css">
    <link rel="stylesheet" href="http://patchcreate.com/kamp/plugins/system/helix3/assets/css/pagebuilder.css" type="text/css">
    <link rel="stylesheet" href="http://crysoftlabs.com/web/templates/vina_dongky/css/frontend-edit.css" type="text/css">

    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet"
          href="http://patchcreate.com/kamp/modules/mod_vina_treeview_menus/assets/css/jquery.treeview.css"
          type="text/css">
    <style type="text/css">
        .checkbox input[type="checkbox"]{
            margin-left:4px;
        }
        .checkbox label{
            font-weight:bold;
        }
        .checkbox ul li{
            color:red;
        }
        body {
            font-family: Raleway, sans-serif;
            font-size: 14px;
            font-weight: normal;
        }

        h3 {
            font-family: Raleway, sans-serif;
            font-weight: 500;
        }

        .vina-carousel-content.style-1 .title a {
            font-family: PT Mono, sans-serif;
            font-size: 16px;
            font-weight: normal;
        }

        .img-back-1, .img-back-2 {
            text-align: center;
        }

        .report-text {
            margin-right: 35px;
            color: #fff;
        }

        .report-site .report h2, .report-site .site h2 {
            font-family: 'Raleway', sans-serif;
            color: #fff;
            font-weight: 400;
            font-weight: 900;
            font-size: 1.5em;
            line-height: 100%;
            margin-bottom: 15px;
        }

        .membership .sppb-container {
            width: 100%;
            padding: 0px;
        }

        .report-site {
            width: 100%;
        }

        .report-site .report, .report-site .site {
            padding-left: 0;
            padding-right: 0;
            display: table;
            height: 400px;
        }

        .report-site .report .img-back-1, .report-site .site .img-back-1, .report-site .report .img-back-2, .report-site .site .img-back-2 {
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            background-size: cover;
            background-position: center;
        }

        .title1 .sppb-title-heading span {
            dispay: none;
        }
        #onboard_form_termsOfService{
            margin-left:8px;
        }
        .img-back .container {
            vertical-align: middle;
            display: table-cell;
            height: 100%;
        }

        .img-back .title-whatwedo, .img-back .title-news {
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-weight: 900;
            font-size: 4.5em;
            line-height: 100%;
            margin-bottom: 25px;
        }

        .img-back .text-whatwedo {
            color: #ffffff;
            line-height: 150%;
            margin-bottom: 70px;
        }

        .img-back .centered {
            float: none;
            margin: 0 auto;
        }

        .img-back-top {
            margin-top: -10px;
        }

        .img-back {
            height: 630px;
            width: 100%;
            display: table;
            background-position: center center;
            background-size: cover;
        }

        .sppb-text-left {
            text-align: left;
        }

        .related-pages {
            margin-top: 25px;
            margin-left: 25px;
            padding-left: 0;
            padding-right: 0;
        }

        .related-pages a:first-child {
            border-top: 0;
        }

        .related-pages a {
            color: #000;
            display: block;
            padding: 1px 0;
            border-top: 1px solid #e22532;
            position: relative;
            text-transform: uppercase;
        }

        h2.side-menu {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 1.1em;
            line-height: 100%;
            font-weight: 600;
        }

        .sppb-addon-raw-html {
            text-align: left;
        }

        .page-header {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: left center;
            min-height: 170px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .page-header h1 {
            line-height: 1em;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 4em;
            font-weight: 900;
            text-transform: uppercase;
        }

        .header-text {
            color: #ffffff;
            line-height: 130%;
        }

        #sp-bottom-wrapper {
            background: #f5f5f5;
            padding: 10px 0px;
            color: #333;
        }

        #sp-bottom-wrapper .modtitle {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 20px;
            padding-bottom: 2px;
            color: #333;
            font-weight: 700;
        }

        #sp-footer-wrapper {
            padding: 15px 0;
            line-height: 22px;
            text-align: center;
            background-color: #e22532;
            color: #fff;
        }

        #sp-footer2 .payment {
            display: none;
        }

        #sp-footer1 {
            color: #fff;
            width: 100%;
        }

        .sp-totop {
            bottom: 50px;
        }

        .rev_slider_wrapper .tp-caption .btn-slider, .rev_slider_wrapper .tp-button {
            background: #fff;
            color: #e22532;
            border-color: #fff;
        }

        .rev_slider_wrapper .tp-caption .btn-slider:hover {
            background: #8e131b;
            color: #fff;
            border-color: #e22532;
        }

        .rev_slider_wrapper .btn-slider, .rev_slider_wrapper .tp-button {
            font-size: 14px;
            width: 260px;
            height: 42px;
            line-height: 38px;
            border-radius: 3px;
        }

        .social-icons li a {
            padding: 5px;
            text-align: center;
            width: 48px;
            height: 48px;
            display: block;
            color: #222;
            font-size: 18px;
            border: 0px;
        }

        #sp-top-wrapper .social-icons li {
            border: 0px;

        }

        #sp-top-wrapper .social-icons li:last-child {
            border: 0px;
        }

        .item .readmore a {
            background-color: #e22532;
            border: 0;
            border-radius: 4px;
        }

        .item .readmore a:hover {
            opacity: 80%;
            color: #fff;
            border-color: #eb6971;
            background: #eb6971;
        }

        /* Chrome, Safari */
        ::-webkit-scrollbar {
            width: 15px;
            height: 15px;
        }

        ::-webkit-scrollbar-track-piece {
            background-color: #112131;
        }

        ::-webkit-scrollbar-thumb:vertical {
            height: 10px;
            background-color: #e22532;
        }

        .title-laya h2 {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-weight: 900;
            font-size: 4.5em;
            line-height: 100%;
            margin-bottom: 25px;
            text-transform: uppercase;
        }

        .vertical-centered {
            display: table;
            width: 100%;
            background-position: center center;
            background-size: cover;
            height: 580px;
            text-align: center;
            color: #ffffff;
        }

        .table-cell {
            height: 480px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        .link-arrow {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-weight: 700;
            font-size: 1.2em;
            color: #000000;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
        }

        .link-arrow:after {
            content: "\f178";
            margin-left: 5px;
            font-family: "FontAwesome";
        }

        #sp-bottom-wrapper {
            background: #000;
            padding: 10px 0px;
            color: #fff;
        }

        .modal_link {
            color: #e22532;
        }

        .sppb-addon-persion .sppb-person-information > span.sppb-person-designation {
            font-size: 14px;
            color: #000;
            font-weight: bold;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="http://patchcreate.com/kamp/media/jui/js/jquery-noconflict.js" type="text/javascript"></script>
    <script src="http://patchcreate.com/kamp/media/jui/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body class="site com-sppagebuilder view-page no-layout no-task itemid-986 en-gb ltr  layout-fluid  hide-vmquickview"
      cz-shortcut-listen="true">


<div class="body-innerwrapper">
    <section id="sp-top-wrapper" class="top-home1">
        <div class="container">
            <div class="row">
                <div id="sp-top1" class="col-sm-4 col-md-4">
                    <div class="sp-column "></div>
                </div>
                <div id="sp-top3" class="col-sm-8 col-md-8">
                    <div class="sp-column ">
                        <ul class="social-icons">
                            <li><a target="_blank" class="jutooltip facebook"
                                   href="https://www.facebook.com/KenyaAssociationofMusicProducers/"><i
                                            class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" class="jutooltip twitter" href="https://twitter.com/kampkenya"><i
                                            class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" class="jutooltip google-plus" href="#"><i
                                            class="fa fa-google-plus"></i></a></li>
                            <li><a target="_blank" class="jutooltip instagram"
                                   href="https://www.instagram.com/kamp_kenya/"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" class="jutooltip youtube"
                                   href="https://www.youtube.com/channel/UChWdibB_vPfFfT8QJ8uWG8A"><i
                                            class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-header-wrapper" class="style-home1">
        <div class="container">
            <div class="row" style="position: relative;">
                <div id="sp-logo" class="col-sm-3 col-md-3">
                    <div class="sp-column "><a class="logo" href="http://kamp.patchcreate.com"><h1><img class="sp-default-logo"
                                                                                   src="http://patchcreate.com/kamp/images/kamplogo2.png"
                                                                                   alt="KAMP"></h1></a></div>
                </div>
                <div id="sp-menu" class="col-sm-9 col-md-9" style="position: static;">
                    <div class="sp-column ">
                        <div class="sp-megamenu-wrapper">
                            <a id="offcanvas-toggler" class="visible-xs visible-sm" href="#"><i class="fa fa-bars"></i></a>
                            <ul class="sp-megamenu-parent menu-fade-up hidden-xs hidden-sm">
                                <li class="sp-menu-item"><a href="http://kamp.patchcreate.com">Home</a></li>
                                <li class="sp-menu-item sp-has-child"><a href="http://kamp.patchcreate.com">ABOUT
                                        KAMP</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">What We
                                                        Do</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Our Story</a>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Board
                                                        of Directors</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Staff</a>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Careers</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item sp-has-child active"><a href="http://kamp.patchcreate.com">Membership</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item current-item active"><a
                                                            href="http://kamp.patchcreate.com">Music
                                                        Producer</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">How To
                                                        Apply</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Copyright</a>
                                                </li>
                                                <li class="sp-menu-item"><a href="http://kamp.patchcreate.com">FAQ's</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item sp-has-child"><a
                                            href="http://kamp.patchcreate.com">Licensing </a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Music
                                                        Users</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">What
                                                        is a Music License?</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Who
                                                        needs a Music License?</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Tarriffs</a>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Regional
                                                        Offices</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com"> Types
                                                        of License</a></li>
                                                <li class="sp-menu-item"><a href="http://kamp.patchcreate.com">FAQ's</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item sp-has-child"><a href="http://kamp.patchcreate.com">Media</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Latest
                                                        News</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Multimedia</a>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Magazine</a>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://kamp.patchcreate.com">Downloads</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="sp-menu-item"><a href="{{ path('security_logout') }}">Logout</a></li>
                                    {% else %}

                                        <li class="sp-menu-item"><a href="{{ path('profile-login') }}">Login</a></li>

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-page-title">
        <div class="row">
            <div id="sp-title" class="col-sm-12 col-md-12">
                <div class="sp-column "></div>
            </div>
        </div>
    </section>
    <section id="sp-main-body">
        <div class="row">
            <div id="sp-component" class="col-sm-12 col-md-12">
                <div class="sp-column ">
                    <div id="system-message-container">
                    </div>
                    <div id="bd_results">
                        <div id="cf_res_ajax_loader"></div>
                        <div id="sp-page-builder" class="sp-page-builder  page-33">

                            <div class="page-content">
                                <section class="sppb-section "
                                         style="background-image:url(http://patchcreate.com/kamp/images/2017/09/15/header11.jpg);background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position:0 0;">
                                    <div class="sppb-row">
                                        <div class="sppb-col-sm-12">
                                            <div class="sppb-addon-container" style="" data-sppb-wow-duration="300ms">
                                                <div class="sppb-addon sppb-addon-raw-html ">
                                                    <div class="sppb-addon-content">
                                                        <section class="page-header" style="">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-10 col-sm-12 col-xs-24">
                                                                        <h1>Membership</h1>

                                                                    </div>
                                                                    <div class="col-lg-6 col-md-13 col-sm-12 col-xs-24">
                                                                        <div class="header-text"><p>Any person or legal
                                                                                entity that owns the rights in at least
                                                                                one (1) commercially available
                                                                                sound recording master is eligible to be
                                                                                a member of KAMP.
                                                                                The ownership of rights in sound
                                                                                recordings is usually the financing of
                                                                                the fixation of sounds
                                                                                of a performance or other sounds or the
                                                                                representation of sounds or through
                                                                                assignment.
                                                                            </p></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="sppb-section " style="margin:10px 80px;">
                                    {% block body %}
                                    {% endblock %}

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-bottom-wrapper" class="no-padding">
        <div class="container">
            <div class="row">
                <div id="sp-bottom4" class="col-sm-6 col-md-3">
                    <div class="sp-column ">
                        <div class="sp-module">
                            <div class="sp-module-title"><h3 class="modtitle"><span class="title">ABOUT KAMP</span></h3>
                            </div>
                            <div class="sp-module-content">

                                <div class="custom">
                                    <p>KAMP represent the rights and interests of producers of sound recordings, and to
                                        collect license fees and to distribute royalties in accordance with the
                                        Copyright Act of 2001, Laws of Kenya.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-bottom3" class="col-sm-6 col-md-3">
                    <div class="sp-column ">
                        <div class="sp-module">
                            <div class="sp-module-title"><h3 class="modtitle"><span class="title">Latest News</span>
                                </h3></div>
                            <div class="sp-module-content">
                                <div class="latestnews">
                                    <div itemscope="" itemtype="http://schema.org/Article">
                                        <a href="http://patchcreate.com/kamp/index.php/en/component/content/article/9-sample-data/blog/88-it-s-a-thumbs-up-on-the-skiza-royalties?Itemid=101"
                                           itemprop="url">
			<span itemprop="name">
				IT'S A THUMBS UP ON THE SKIZA ROYALTIES.			</span>
                                        </a>
                                        <small>07 September 2017</small>
                                    </div>
                                    <div itemscope="" itemtype="http://schema.org/Article">
                                        <a href="http://patchcreate.com/kamp/index.php/en/component/content/article/9-sample-data/blog/87-hotels-restaurants-and-pubs-associations-sign-licensing-deal-with-cmos?Itemid=101"
                                           itemprop="url">
			<span itemprop="name">
				HOTELS, RESTAURANTS AND PUBS ASSOCIATIONS SIGN LICENSING DEAL WITH CMOs			</span>
                                        </a>
                                        <small>07 September 2017</small>
                                    </div>
                                    <div itemscope="" itemtype="http://schema.org/Article">
                                        <a href="http://patchcreate.com/kamp/index.php/en/component/content/article/9-sample-data/blog/86-extension-of-term-of-office-for-current-board-of-directors?Itemid=101"
                                           itemprop="url">
			<span itemprop="name">
				EXTENSION OF TERM OF OFFICE FOR CURRENT BOARD OF DIRECTORS’			</span>
                                        </a>
                                        <small>07 September 2017</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-bottom2" class="col-sm-6 col-md-3">
                    <div class="sp-column ">
                        <div class="sp-module menu-bottop">
                            <div class="sp-module-title"><h3 class="modtitle"><span class="title">Our Partners</span>
                                </h3></div>
                            <div class="sp-module-content">
                                <ul class="mod_menu menu">
                                    <li class="item-282"><a href="http://patchcreate.com/kamp/www.copyright.go.ke">Kenya Copyright Board</a>
                                    </li>
                                    <li class="item-1007"><a href="http://www.payforplay.or.ke/">Pay For Play</a></li>
                                    <li class="item-1008"><a href="#">WIPO</a></li>
                                    <li class="item-1009"><a href="http://norcode.no/">NORCODE</a></li>
                                    <li class="item-979"><a href="https://www.prisk.or.ke/">Prisk</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-bottom1" class="col-sm-6 col-md-3">
                    <div class="sp-column ">
                        <div class="sp-module menu-bottop">
                            <div class="sp-module-title"><h3 class="modtitle"><span class="title">Quick Links</span>
                                </h3></div>
                            <div class="sp-module-content">
                                <ul class="mod_menu menu">
                                    <li class="item-296"><a href="http://patchcreate.com/kamp/index.php/en/downloads">Downloads</a></li>
                                    <li class="item-297"><a href="http://patchcreate.com/kamp/index.php/en/quick-licensing">Licensing</a></li>
                                    <li class="item-298"><a href="http://patchcreate.com/kamp/index.php/en/2015-08-17-07-54-22">What is
                                            Copyright?</a></li>
                                    <li class="item-777"><a href="http://patchcreate.com/kamp/index.php/en/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-footer-wrapper">
        <div class="container">
            <div class="row">
                <div id="sp-footer1" class="col-sm-6 col-md-6">
                    <div class="sp-column "><span class="sp-copyright">©2017 KAMP. All Rights Reserved.</span><a
                                class="sp-totop" href="javascript:;" title="Go to top" rel="nofollow"
                                style="display: none;">
                            <small>Go to top</small>
                            <i class="fa fa-chevron-up"></i></a></div>
                </div>
                <div id="sp-footer2" class="col-sm-6 col-md-6">
                    <div class="sp-column ">
                        <div class="sp-module">
                            <div class="sp-module-content">

                                <div class="custom">
                                    <div class="payment pull-right"><a href="http://vinagecko.com/"><img
                                                    src="http://patchcreate.com/kamp/images/sampledata/all_credit_cards.png" alt=""></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="getting-started"></div>
    <div class="offcanvas-menu">
        <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
        <div class="offcanvas-inner">
            <div class="sp-module">
                <div class="sp-module-title"><h3 class="modtitle"><span class="title">Offcanvas Menu</span></h3></div>
                <div class="sp-module-content">
                    <div id="vina-treeview-menus119" class="vina-treeview-menus">

                        <ul class="level0   treeview">
                            <li class="item-101"><a href="http://patchcreate.com/kamp/index.php/en/"><span class="catTitle">Home</span></a>
                            </li>
                            <li class="item-965 deeper parent expandable">
                                <div class="hitarea item-965-hitarea deeper-hitarea parent-hitarea expandable-hitarea"></div>
                                <a href="http://patchcreate.com/kamp/index.php/en/about-kamp"><span class="catTitle">ABOUT KAMP</span></a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="item-999"><a href="http://patchcreate.com/kamp/index.php/en/about-kamp/what-we-do"><span
                                                    class="catTitle">What We Do</span></a></li>
                                    <li class="item-981"><a href="http://patchcreate.com/kamp/index.php/en/about-kamp/our-story"><span
                                                    class="catTitle">Our Story</span></a></li>
                                    <li class="item-982"><a
                                                href="http://patchcreate.com/kamp/index.php/en/about-kamp/board-of-directors"><span
                                                    class="catTitle">Board of Directors</span></a></li>
                                    <li class="item-991"><a href="http://patchcreate.com/kamp/index.php/en/about-kamp/kamp-staff"><span
                                                    class="catTitle">Staff</span></a></li>
                                    <li class="item-1005 last"><a href="http://patchcreate.com/kamp/index.php/en/about-kamp/careers"><span
                                                    class="catTitle">Careers</span></a></li>
                                </ul>
                            </li>
                            <li class="item-966 active deeper parent expandable">
                                <div class="hitarea item-966-hitarea active-hitarea deeper-hitarea parent-hitarea expandable-hitarea"></div>
                                <a href="http://patchcreate.com/kamp/index.php/en/membership"><span class="catTitle">Membership</span></a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="item-986 current active"><a
                                                href="http://patchcreate.com/kamp/index.php/en/membership/music-producer"><span
                                                    class="catTitle">Music Producer</span></a></li>
                                    <li class="item-998"><a href="http://patchcreate.com/kamp/index.php/en/membership/how-to-apply"><span
                                                    class="catTitle">How To Apply</span></a></li>
                                    <li class="item-1003"><a href="http://patchcreate.com/kamp/index.php/en/membership/copyright"><span
                                                    class="catTitle">Copyright</span></a></li>
                                    <li class="item-997 last"><a href="http://patchcreate.com/kamp/index.php/en/membership/faq-s"><span
                                                    class="catTitle">FAQ's</span></a></li>
                                </ul>
                            </li>
                            <li class="item-968 deeper parent expandable">
                                <div class="hitarea item-968-hitarea deeper-hitarea parent-hitarea expandable-hitarea"></div>
                                <a href="http://patchcreate.com/kamp/index.php/en/licensing"><span class="catTitle">Licensing </span></a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="item-987"><a href="http://patchcreate.com/kamp/index.php/en/licensing/music-users"><span
                                                    class="catTitle">Music Users</span></a></li>
                                    <li class="item-988"><a href="http://patchcreate.com/kamp/index.php/en/licensing/what-is-a-music-license"><span
                                                    class="catTitle">What is a Music License?</span></a></li>
                                    <li class="item-989"><a
                                                href="http://patchcreate.com/kamp/index.php/en/licensing/who-needs-a-music-license"><span
                                                    class="catTitle">Who needs a Music License?</span></a></li>
                                    <li class="item-990"><a href="http://patchcreate.com/kamp/index.php/en/licensing/tarriffs"><span
                                                    class="catTitle">Tarriffs</span></a></li>
                                    <li class="item-1010"><a href="http://patchcreate.com/kamp/index.php/en/licensing/regional-offices"><span
                                                    class="catTitle">Regional Offices</span></a></li>
                                    <li class="item-1006"><a href="http://patchcreate.com/kamp/index.php/en/licensing/types-of-license"><span
                                                    class="catTitle"> Types of License</span></a></li>
                                    <li class="item-992 last"><a href="http://patchcreate.com/kamp/index.php/en/licensing/faq-s"><span
                                                    class="catTitle">FAQ's</span></a></li>
                                </ul>
                            </li>
                            <li class="item-967 divider deeper parent expandable">
                                <div class="hitarea item-967-hitarea divider-hitarea deeper-hitarea parent-hitarea expandable-hitarea"></div>
                                <span class="separator">Media</span>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="item-1000"><a href="http://patchcreate.com/kamp/index.php/en/kamp-media/latest-news"><span
                                                    class="catTitle">Latest News</span></a></li>
                                    <li class="item-1001"><a href="http://patchcreate.com/kamp/index.php/en/kamp-media/multimedia"><span
                                                    class="catTitle">Multimedia</span></a></li>
                                    <li class="item-1002"><a href="http://patchcreate.com/kamp/index.php/en/kamp-media/magazine"><span
                                                    class="catTitle">Magazine</span></a></li>
                                    <li class="item-1004 last"><a
                                                href="http://patchcreate.com/kamp/index.php/en/kamp-media/document-downloads"><span
                                                    class="catTitle">Downloads</span></a></li>
                                </ul>
                            </li>
                            <li class="item-249 last"><a href="http://patchcreate.com/kamp/index.php/en/contact"><span class="catTitle">Contact</span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% block javascript %}
{% endblock %}
</body>
</html>