{% extends 'adminBase.htm.twig' %}
{% block title %}Administrators{% endblock %}
{% block javascripts %}

    <!-- jqueryui -->
    <link href="{{ asset('js/jquery-ui-1.12.1/jquery-ui.css') }}" rel="stylesheet">
    <script src="{{ asset('js/jquery-ui-1.12.1/jquery-ui.js') }}"></script>

    <!-- x-editable (jquery) -->
    <link href="{{ asset('js/jqueryui-editable/css/jqueryui-editable.css') }}" rel="stylesheet">
    <script src="{{ asset('js/jqueryui-editable/js/jqueryui-editable.min.js') }}"></script>t
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.editable.defaults.mode = 'inline';

            //make MemberNumber editable
            $('a#member').editable({
                source: [
                    {value: 1, text: 'Membership'},
                    {value: 2, text: 'Music-Director'},
                    {value: 3, text: 'Actor-Director'},
                    {value: 4, text: 'Administrator'}
                ]
            });
        });
        jQuery('#js-deactivate-account').on('click', function (e) {
            //Prevent Normal Submit
            e.preventDefault();

            $(".messages").fadeOut("slow");

            $(this).find('.fa-times-rectangle')
                .removeClass('fa-times-rectangle')
                .addClass('fa-spinner')
                .addClass('fa-spin');

            $(this).find('.fa-check')
                .removeClass('fa-check')
                .addClass('fa-spinner')
                .addClass('fa-spin');


            // get form values
            var values = $(this).serialize();

            $.ajax({
                url: $(this).data('url'),
                method: 'GET'
            }).done(function () {
                //$el.fadeOut("slow");
                $(".messages").fadeIn("slow");

                $("#deactivate")
                    .removeClass('fa-spinner')
                    .removeClass('fa-spin')
                    .addClass('fa-check');
            }).error(function () {
                //$el.fadeOut("slow");
                $(".errors").fadeIn("slow");

                $("#deactivate")
                    .removeClass('fa-spinner')
                    .removeClass('fa-spin')
                    .addClass('fa-times');
            })

        });
        jQuery('#js-reset-password').on('click', function (e) {
            //Prevent Normal Submit
            e.preventDefault();

            $(".messages").fadeOut("slow");

            $(this).find('.fa-exclamation-triangle')
                .removeClass('fa-exclamation-triangle')
                .addClass('fa-spinner')
                .addClass('fa-spin');

            $(this).find('.fa-check')
                .removeClass('fa-check')
                .addClass('fa-spinner')
                .addClass('fa-spin');


            // get form values
            var values = $(this).serialize();

            $.ajax({
                url: $(this).data('url'),
                method: 'GET'
            }).done(function () {
                //$el.fadeOut("slow");
                $(".messages").fadeIn("slow");

                $("#reset")
                    .removeClass('fa-spinner')
                    .removeClass('fa-spin')
                    .addClass('fa-check');
            }).error(function () {
                //$el.fadeOut("slow");
                $(".errors").fadeIn("slow");

                $("#reset")
                    .removeClass('fa-spinner')
                    .removeClass('fa-spin')
                    .addClass('fa-times');
            })

        });


    </script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title" style="color: #fff;">Administrator Users</h4>
                    </div>
                    <div class="card-content table-responsive">

                        <div class="page messages" style="display: none">
                            <div class="messages" style="">
                                <div class="alert alert-success">
                                    <div>
                                        Request successful.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="page errors" style="display: none">
                            <div class="errors" style="">
                                <div class="alert alert-danger">
                                    <div>
                                        :-( Something went wrong. This request was not completed.
                                    </div>
                                </div>

                            </div>
                        </div>

                        <table id="datatables"
                               class="table table-striped table-no-bordered table-hover material-datatables"
                               cellspacing="0" width="100%" style="width:100%">
                            <thead>
                            <tr>
                                <th style="width:20%">Names</th>
                                <th style="width:15%">Role</th>
                                <th style="width:25%">Created At</th>
                                <th style="width:25%">Last Login</th>
                                <th style="width:15%">Status</th>
                                <th style="width:25%">Manage</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td><span style="color:#0cc2aa">{{ user.fullName }}</span></td>

                                    <td>
                                        <a href="#" id="member" data-type="select" data-pk="{{ user.id }}"
                                           data-url="{{ path('update-member') }}"
                                           data-title="Select Role">                                      {% for role in user.roles %}
                                                {% if(role =="ROLE_MEMBERSHIP") %}
                                                    Membership
                                                {% elseif(role =="ROLE_BOARD") %}
                                                    Board
                                                {% elseif(role =="ROLE_MUSIC_DIRECTOR") %}
                                                    Music Director
                                                {% elseif(role =="ROLE_ACTOR_DIRECTOR") %}
                                                    Actor Director
                                                {% elseif(role =="ROLE_ADMINISTRATOR") %}
                                                    Administrator
                                                {% elseif(role =="ROLE_ADMIN") %}
                                                    Admin
                                                {% endif %}
                                            {% endfor %}

                                        </a>


                                    </td>
                                    <td>{{ user.accountCreatedAt | date("F jS \\a\\t g:ia") }}</td>
                                    <td>
                                        {% if user.lastLoginTime != "" %}
                                            {{ user.lastLoginTime | date("F jS \\a\\t g:ia") }}
                                        {% else %}
                                            N/A
                                        {% endif %}

                                    </td>
                                    <td>
                                        {% if user.isActive %}
                                            <div style="padding: 8px;text-align: center;" class="alert alert-success">
                                                Active
                                            </div>
                                        {% else %}
                                            <div style="padding: 8px;text-align: center;" class="alert alert-danger">
                                                Inactive
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.isActive %}
                                            <a id="js-deactivate-account" href="#"
                                               data-url="{{ path('deactivate-account',{'id': user.id }) }}"
                                               class="btn btn-xs white btn-icon"><i id="deactivate"
                                                                                    title="De-activate Account"
                                                                                    class="fa fa-times-rectangle"></i></a>
                                            <a id="js-reset-password" href="#"
                                               data-url="{{ path('request-password-reset',{'id': user.id }) }}"
                                               class="btn btn-xs white btn-icon"><i id="reset" title="Reset Password"
                                                                                    class="fa fa-exclamation-triangle"></i></a>
                                        {% else %}
                                            <a id="js-deactivate-account" href="#"
                                               data-url="{{ path('activate-account',{'id': user.id }) }}"
                                               class="btn btn-xs white btn-icon"><i id="Activate"
                                                                                    title="Activate Account"
                                                                                    class="fa fa-lock"></i></a>

                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}