{% extends 'base.htm.twig' %}
{% block title %}Reset Password{% endblock %}
{% block pageTitle %}<h2>Reset Password</h2>{% endblock %}

    {% block breadCrumbs %}
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i></li>
            <li><a href="http://prisk.or.ke/index.php/en" class="pathway">Home</a></li>
            <li><a href="http://prisk.or.ke/index.php/en/membership" class="pathway">Membership</a></li>
            <li class="active">Reset Password</li>
        </ol>
    {% endblock %}
{% block body %}


    <div id="sp-page-builder" class="sp-page-builder  page-1">

        <div class="page-content">
            <section class="sppb-section welcome-wrapper" style="padding:0px">
                <div class="sppb-container">
                    <div class="sppb-row">
                        <div class="sppb-col-sm-6" style=";width:600px;">
                            <div class="sppb-addon-container sppb-wow zoomIn sppb-animated"
                                 style="visibility: visible; animation-duration: 800ms; animation-delay: 300ms; animation-name: zoomIn;"
                                 data-sppb-wow-duration="800ms" data-sppb-wow-delay="300ms">
                                <div class="sppb-addon sppb-addon-text-block sppb-text-left "><h6
                                            class="sppb-addon-title" style="font-size:14px;line-height:14px;">Change Account Password</h6>
                                    {% if isTokenValid==false %}
                                        <div class="sppb-addon-content"> <p>Hello {{ user.firstName }},
                                                <br/>This password reset link has expired.
                                            </p>
                                            <p>If you had already reset your password, You can now <a style="color:#fd9614" href="{{ path('login') }}">Click here</a> to login to your Prisk Online Portal Account.</p>

                                        </div>
                                    {% else %}
                                        <div class="sppb-addon-content"> <p>Hello {{ user.firstName }},
                                                <br/>This process will change your account password.
                                            </p>
                                            <p>To change your account password, fill in the form below to create a new one and we will update your account with these login details.</p>
                                            {{ form_start(passwordResetForm) }}
                                            <div class="md-form-group float-label">
                                                <strong>{{ form_row(passwordResetForm.plainPassword.first, { 'label': 'New Password','attr': {'class': 'md-input'} }) }}</strong>

                                            </div>
                                            <div class="md-form-group float-label">
                                                <strong>{{ form_row(passwordResetForm.plainPassword.second, { 'label': 'Repeat Password','attr': {'class': 'md-input'} }) }}</strong>

                                            </div><br/>
                                            <div class="md-form-group float-label">
                                                <button type="submit" class="btn primary">Update Account</button>
                                            </div>

                                            {{ form_end(passwordResetForm) }}

                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock body %}