{% extends 'base.htm.twig' %}
{% block title %}Update Profile {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('kamp.css') }}"/>
{% endblock %}
    {% block javascript %}
        <!-- Core JS files -->
        <script type="text/javascript">

            // bind to the form's submit event
            jQuery('#newForm').submit(function (e) {
                var ajaxRequest;

                //Prevent Normal Submit
                e.preventDefault();

                jQuery(".message").fadeOut("slow");
                jQuery(".error").fadeOut("slow");

                jQuery("#newForm").fadeOut("slow");
                jQuery('#saving').fadeIn("slow");

                var form = document.getElementById("newForm");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var values = jQuery(this).serialize();

                jQuery.ajax({
                    url: jQuery(this).data('url'),
                    data: new FormData(this),
                    contentType: false,
                    cache:false,
                    processData: false,
                    method: 'POST'
                }).done(function () {
                    jQuery('#saving').fadeOut("slow");
                    jQuery('#message').fadeIn("slow");

                    jQuery.get("/profile/uploaded/docs", function( data ) {
                        jQuery('.uploaded').html(data);
                    });
                    jQuery.get("/profile/upload/docs/form", function( data ) {
                        jQuery('#newForm').html(data);
                    });
                    setTimeout(function () {
                        jQuery("#message").fadeOut("slow");
                    }, 3000);

                    // jQuery('#newForm').trigger("reset");
                    jQuery("#newForm").fadeIn("slow");


                }).fail(function () {
                    jQuery('#saving').fadeOut("slow");

                    jQuery("#error").fadeIn("slow");

                    setTimeout(function () {
                        jQuery("#error").fadeOut("slow");
                    }, 3000);
                    //jQuery('#newForm').trigger("reset");
                    jQuery("#newForm").fadeIn("slow");

                })


            });

            jQuery('#continue').click(function () {
//                    alert('button clicked');
                window.location='{{ path('recording-sample') }}';
            });


        </script>

    {% endblock %}

{% block pageTitle %}<h2> Documents - Update Profile</h2>{% endblock %}

{% block component %}
    <style>
        .page-header{
            display: none;
        }
    </style>

{% endblock %}
    {% block body %}

        <div id="sp-component" class="col-sm-9 col-md-12">
            {% if not form.vars.valid %}

                {# Loop through every form item #}
                {% for child in profileForm.children %}
                    {# Display the errors of the form item #}
                    {%for error in child.vars.errors%}
                        <p><div class="alert alert-danger">{{error.message}}</div></p>
                    {%endfor%}
                {%endfor%}

            {%endif%}

            <div class="wizard-inner wizard steps">
                <div class="connecting-line"></div>
                <ul role="tablist" class="nav-tabs">
                    <li role="tab" class="first disabled" aria-disabled="false" aria-selected="true"><a
                                id="steps-uid-0-t-0" href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0"><span
                                    class="current-info audible">current step: </span><span class="number">1</span>
                            Personal Information</a></li>
                    <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-1" href="#steps-uid-0-h-1"
                                                                            aria-controls="steps-uid-0-p-1"><span
                                    class="number">2</span> Next of Kin</a></li>
                    <li role="tab" class="current" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2"
                                                                            aria-controls="steps-uid-0-p-2"><span
                                    class="number">3</span> Documents</a></li>

                    <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2"
                                                                            aria-controls="steps-uid-0-p-2"><span
                                    class="number">4</span> Recording Samples</a></li>
                    <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                            href="#steps-uid-0-h-3"
                                                                            aria-controls="steps-uid-0-p-3"><span
                                    class="number">5</span> Confirmation</a></li>
                    <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                                 href="#steps-uid-0-h-3"
                                                                                 aria-controls="steps-uid-0-p-3"><span
                                    class="number">6</span> Payment</a></li>

                    <li role="tab" class="disable last" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                                href="#steps-uid-0-h-3"
                                                                                aria-controls="steps-uid-0-p-3"><span
                                    class="number">7</span> Payment Confirmation</a></li>
                </ul>
            </div>

            <div class="steps-validation">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Section A: Instructions</legend>
                    </fieldset>
                                <p><i>** Each document should not exceed 2MB in size **</i></p>
                                <p>The following documents are <b>ALL</b> required as part of your application:</p>

                </div>
            </div>
                            {{ render(controller("AppBundle:Home:uploadedDocuments",{'id':profile.id})) }}
                                <div class="steps-validation">
                                    <div id="message" style="display: none">
                                        <div class="alert alert-success" role="alert">
                                            Document Uploaded!
                                        </div>
                                    </div>
                                    <div id="saving" style="display: none">
                                        <div class="alert alert-warning" role="alert">
                                            <span class="fa fa-spin fa-spinner"></span> Uploading Document...
                                        </div>
                                    </div>
                                    <div id="error" style="display: none">
                                        <div class="alert alert-danger" role="alert">
                                            Document not Uploaded.
                                        </div>
                                    </div>
                               {{ render(controller("AppBundle:Home:docUploadForm")) }}

                <br/><br/>
                <div class="form-group row right">
                    <div class="col-sm-6" style="text-align: left">
                        <a id="previous" href="{{ path('next-of-kin') }}" type="submit" class="btn btn-primary btn-lg">Previous</a>
                     </div>
                    <div class="col-sm-12" style="text-align: right">
                        <a href="{{ path('recording-sample') }}" id="continue" style="display: none;color: #fff;"  class="btn btn-primary btn-lg">Continue</a>
                    </div>
                </div>

            </div>
            </div>
        </div>

    {% endblock %}
    {% block right %}
    {% endblock %}