{% if app.user.userType == "Deceased Producer" %}
    {% if profile.profileDocuments | length < 5 %}

        {{ form_start(form,{'attr': {'id': 'newForm' }}) }}

        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.documentName,{

                    'attr': {'class': 'select'}
                }) }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.documentFile,{
                    'label':false,
                    'attr': {'class':'customFileInput'}
                }) }}

            </div>
        </div>

        <div class="form-group row right">
            <div class="col-sm-6" style="">
                <button id="new" type="submit" class="btn btn-primary btn-lg">Upload</button>
            </div>
        </div>
        </div>
        {{ form_end(form) }}

    {% else %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#continue').fadeIn("slow");
            });
        </script>
        <div class="alert alert-success">
            <strong>Success!</strong> All Required Documents have been uploaded. Click the Continue button to proceed.
        </div>
    {% endif %}
{% else %}
    {% if profile.profileDocuments | length < 4 %}

        {{ form_start(form,{'attr': {'id': 'newForm' }}) }}

        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.documentName,{

                    'attr': {'class': 'select'}
                }) }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.documentFile,{
                    'label':false,
                    'attr': {'class':'customFileInput'}
                }) }}

            </div>
        </div>

        <div class="form-group row right">
            <div class="col-sm-6" style="">
                <button id="new" type="submit" class="btn btn-primary btn-lg">Upload</button>
            </div>
        </div>
        </div>
        {{ form_end(form) }}

    {% else %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#continue').fadeIn("slow");
            });
        </script>
        <div class="alert alert-success">
            <strong>Success!</strong> All Required Documents have been uploaded. Click the Continue button to proceed.
        </div>
    {% endif %}
{% endif %}