{% extends 'base.htm.twig' %}
{% block title %}Update Profile {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('kamp.css') }}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}
    {% block javascript %}
        <!-- Core JS files -->
        <script type="text/javascript">
            // prepare the form when the DOM is ready
            jQuery(document).ready(function () {
                jQuery('#new').click(function () {
                    // bind to the form's submit event
                    jQuery('#newForm').submit(function (e) {
                        var ajaxRequest;

                        //Prevent Normal Submit
                        e.preventDefault();

                        jQuery(".message").fadeOut("slow");
                        jQuery(".error").fadeOut("slow");

                        jQuery("#newForm").fadeOut("slow");
                        jQuery('#saving').fadeIn("slow");

                        var form = document.getElementById("newForm");
                        var elements = form.elements;
                        // get form values
                        var values = jQuery(this).serialize();

                        jQuery.ajax({
                            url: jQuery(this).data('url'),
                            data: new FormData(this),
                            contentType: false,
                            cache: false,
                            processData: false,
                            method: 'POST'
                        }).done(function () {
                            jQuery('#saving').fadeOut("slow");
                            jQuery('#message').fadeIn("slow");

                            jQuery.get("/profile/update/uploaded-recording", function (data) {
                                jQuery('.uploaded').html(data);
                            });
                            jQuery.get("/profile/sample-upload-form", function (data) {
                                jQuery('#newForm').html(data);
                            });
                            setTimeout(function () {
                                jQuery("#message").fadeOut("slow");
                            }, 3000);

                            jQuery('#newForm').trigger("reset");
                            jQuery("#newForm").fadeIn("slow");


                        }).fail(function () {
                            jQuery('#saving').fadeOut("slow");

                            jQuery("#error").fadeIn("slow");

                            setTimeout(function () {
                                jQuery("#error").fadeOut("slow");
                            }, 3000);
                            jQuery('#newForm').trigger("reset");
                            jQuery("#newForm").fadeIn("slow");

                        })


                    });

                })
                jQuery('#showTracks').click(function () {
                    jQuery('.tracks').slideDown("slow");
                    jQuery('#hideTracks').fadeIn("slow");

                })
                $('#hideTracks').click(function () {
                    $('.tracks').slideUp("slow");
                    jQuery('#hideTracks').fadeOut("slow");
                })

            });

        </script>
        <script src="{{ asset('loko/mod_vina_treeview_menus/assets/js/jquery.cookie.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('loko/mod_vina_treeview_menus/assets/js/jquery.treeview.js') }}"
                type="text/javascript"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery('.js-date').datepicker(
                    {
                        dateFormat: 'yy-mm-dd'
                    }
                );
            });
        </script>

    {% endblock %}

{% block pageTitle %}<h2> Confirm Profile</h2>{% endblock %}

{% block component %}
    <style>
        .page-header {
            display: none;
        }
    </style>

{% endblock %}
    {% block body %}
<div id="sp-component" class="col-sm-9 col-md-12">

    <div class="wizard-inner wizard steps">
        <div class="connecting-line"></div>
        {% if app.user.userType == "Deceased Producer" %}
            <ul role="tablist" class="nav-tabs">
                <li role="tab" class="first disabled" aria-disabled="false" aria-selected="true"><a
                            id="steps-uid-0-t-0" href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0"><span
                                class="current-info audible">current step: </span><span class="number">1</span>
                        Next of Kin</a></li>
                <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2"
                                                                       aria-controls="steps-uid-0-p-2"><span
                                class="number">2</span> Documents</a></li>

                <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2"
                                                                        aria-controls="steps-uid-0-p-2"><span
                                class="number">3</span> Recordings</a></li>
                <li role="tab" class="current" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                        href="#steps-uid-0-h-3"
                                                                        aria-controls="steps-uid-0-p-3"><span
                                class="number">4</span> Confirmation</a></li>
                <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                        href="#steps-uid-0-h-3"
                                                                        aria-controls="steps-uid-0-p-3"><span
                                class="number">5</span> Payment</a></li>

                <li role="tab" class="disable last" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                            href="#steps-uid-0-h-3"
                                                                            aria-controls="steps-uid-0-p-3"><span
                                class="number">6</span> Payment Confirmation</a></li>
            </ul>
        {% else %}
        <ul role="tablist" class="nav-tabs corporate">
            <li role="tab" class="first disabled" aria-disabled="false" aria-selected="true"><a
                        id="steps-uid-0-t-0" href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0"><span
                            class="current-info audible">current step: </span><span class="number">1</span>
                    Business Information</a></li>
            <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2"
                                                                    aria-controls="steps-uid-0-p-2"><span
                            class="number">2</span> Documents</a></li>

            <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2"
                                                                    aria-controls="steps-uid-0-p-2"><span
                            class="number">3</span> Recording Samples</a></li>
            <li role="tab" class="current" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                    href="#steps-uid-0-h-3"
                                                                    aria-controls="steps-uid-0-p-3"><span
                            class="number">4</span> Confirmation</a></li>
            <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                    href="#steps-uid-0-h-3"
                                                                    aria-controls="steps-uid-0-p-3"><span
                            class="number">5</span> Payment</a></li>

            <li role="tab" class="disable last" aria-disabled="true"><a id="steps-uid-0-t-3"
                                                                        href="#steps-uid-0-h-3"
                                                                        aria-controls="steps-uid-0-p-3"><span
                            class="number">6</span> Payment Confirmation</a></li>
        </ul>
{% endif %}
    </div>

    <div class="steps-validation">
        <div class="row">
            <div class="col-md-12">
                <form name="app_bundle_corporate_details_form" method="post" class="steps-validation ">
                    <br>
                    <fieldset>
                        <legend>Section A: Instructions</legend>
                    </fieldset>
                    <p>Below is a confirmation of the details you have filled in so far. Kindly confirm the details.Use the
                        back button to go to previous steps to update any details.
                    <p/>
                    <fieldset>
                        <legend class="title">Section B: Applicant Details</legend>
                        <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div><label for="app_bundle_corporate_details_form_companyName" class="required">Company name</label>
                                        <br/>
                                    {{ profile.companyName }}
                                    </div>
                                    </div>
                                <div class="col-md-6">
                                    <div><label for="app_bundle_corporate_details_form_tradingName">Trading Name ( if different from Company Name)</label>
                                    <br/>
                                        {{ profile.tradingName }}
                                    </div>    </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_companyType" class="required">Registration Type</label>
                                    <br/>
                                    {{ profile.companyType }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_itaxPin" class="required">Pin Number (I-TAX Registered Pin)</label>
                                    <br/>
                                    {{ profile.itaxPin }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_regNumber" class="required">Reg No.</label>
                                    <br/>
                                    {{ profile.regNumber }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_county" class="required">County</label>
                                    <br/>
                                    {{ profile.county }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_physicalAddress">Physical address</label>
                                <br/>
                                    {{ profile.physicalAddress }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_city">City</label>
                                    <br/>{{ profile.city }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_postalAddress">Postal address</label>
                                <br/>
                                    {{ profile.postalAddress }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_postalCode">Postal code</label>
                                <br/>
                                    {{ profile.postalCode }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_telephone">Telephone</label>
                                 <br/>
                                    {{ profile.telephone }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_mobileNumber" class="required">Mobile number</label>
                                <br/>
                                    {{ profile.mobileNumber }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_emailAddress" class="required">Email address</label>
                                <br/>
                                    {{ profile.emailAddress }}
                                </div>
                                </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_emailAddress2">Email address2</label>
                                <br/>
                                    {{ profile.emailAddress2 }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div><label for="app_bundle_corporate_details_form_website">Website</label>
                                <br/>
                                    {{ profile.website }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div><label class="required">Are you a Member of other collecting societies?</label>
                                <br/>{% if profile.isCollectingSocietiesMember %}
                                Yes
                                    {% else %}
                                    No
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_collectingSocieties">If Yes, Name them here</label>
                                <br/>
                                    {{ profile.collectingSocieties }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Section C: Director Information</legend>
                        <br>

                        <div class="row">
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_firstDirectorNames" class="required">Director Names</label>
                                    <br/>{{ profile.firstDirectorNames }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_firstDirectorPosition" class="required">Director Position</label>
                                <br/>
                                    {{ profile.firstDirectorPosition }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_firstDirectorIdNumber" class="required">Director ID/PP No</label>
                                <br/>
                                    {{ profile.firstDirectorIdNumber }}
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_secondDirectorNames">Second director names</label>
                                <br/>
                                    {{ profile.secondDirectorNames }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_secondDirectorPosition">Second director position</label>
                                <br/>
                                    {{ profile.secondDirectorPosition }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_secondDirectorIdNumber">Second director id number</label>
                                <br/>
                                    {{ profile.secondDirectorIdNumber }}
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <br>
                   {% if profile.numberOfDirectors ==1 %}
                    <fieldset>
                        <legend>
                            Section D:  Next of Kin
                        </legend>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinFirstName">First Name</label>
                                <br/>
                                    {{ profile.kinFirstName }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinMiddleName">Middle Name</label>
                                <br/>
                                    {{ profile.kinMiddleName }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinLastName">Last Name</label>
                                    <br/>{{ profile.kinLastName }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_kinRelationship">Relationship to Applicant</label>
                                <br/>
                                    {{ profile.kinRelationship }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_kinIdNumber">ID/PP NO.</label>
                                <br/>
                                    {{ profile.kinIdNumber }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_kinDateOfBirth">Date of Birth</label>
                                    <br/>{{ profile.kinDateOfBirth | date('d-m-Y') }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_kinGender">Gender</label>
                                <br/>{{ profile.kinGender }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_kinPhysicalAddress">Kin physical address</label>
                                <br/>
                                    {{ profile.kinPhysicalAddress }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_kinCity">Kin city</label>
                                <br/>
                                    {{ profile.kinCity }}
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinCounty">Kin county</label>
                                    <br/>{{ profile.kinCounty }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinPostalAddress">Kin postal address</label>
                                <br/>{{ profile.kinPostalAddress }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinPostalCode">Kin postal code</label>
                                <br/>{{ profile.kinPostalCode }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinTelephoneNumber">Kin telephone number</label>
                                <br/>{{ profile.kinTelephoneNumber }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinMobileNumber">Kin mobile number</label>
                                    <br/>{{ profile.kinMobileNumber }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div><label for="app_bundle_corporate_details_form_kinEmailAddress">Kin email address</label>
                                <br/>{{ profile.kinEmailAddress }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_isKinMinor">Is the Kin a Minor</label>
                                <br/>{%  if profile.isKinMinor %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_kinGuardian">If Yes, indicate Guardian here:</label>
                                    <br/>{{ profile.kinGuardian }}
                                </div>
                            </div>

                        </div>

                    </fieldset>
                    {% endif %}
                    <br>
                    <fieldset>
                        <legend>Section E: Bank Details</legend><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_accountName" class="required">Account Holders Name</label>
                                    <br/>{{ profile.accountName }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_accountNumber" class="required">Account Number</label>
                                    <br/>{{ profile.accountNumber }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="app_bundle_corporate_details_form_bank" class="required">Bank</label>
                                        <br/>{{ profile.bank }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="app_bundle_corporate_details_form_bankBranch" class="required">Bank Branch</label>
                                        <br/>{{ profile.bankBranch }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="app_bundle_corporate_details_form_bankCode">Bank Code</label>
                                    <br/>{{ profile.bankCode }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div><label for="app_bundle_corporate_details_form_swiftCode">Swift Code</label>
                                    {{ profile.swiftCode }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Section F: Mpesa Payment Number</legend>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="app_bundle_profile_kin_form_kinFirstName" class="required">Mpesa Payment Number</label>
                                <br/>
                                {{ profile.paymentMpesaNumber }}
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

        <div class="form-group row right">
            <div class="col-sm-6" style="text-align: left">
                <a href="{{ path('corporate-recording-sample') }}" type="submit" class="btn btn-primary btn-lg">Previous</a>
            </div>
            <div class="col-sm-6" style="text-align: right">
                <a href="{{ path('corporatepayment') }}" id="continue" style="" type="submit" class="btn btn-primary btn-lg">Continue
                    to Payment</a>
            </div>
        </div>

        {% endblock %}
        {% block right %}
{% endblock %}